apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: kube-prometheus-stack
  namespace: kube-system
spec:
  repo: https://prometheus-community.github.io/helm-charts
  chart: kube-prometheus-stack
  version: 61.3.1
  targetNamespace: monitoring
  valuesContent: |
    grafana:
      enabled: true
      admin:
        existingSecret: "grafana-admin-credentials"
        userKey: "admin-user"
        passwordKey: "admin-password"

    prometheus:
      prometheusSpec:
        additionalScrapeConfigs:
          - job_name: 'external-nodes'
            static_configs:
              - targets:
                - "100.68.146.98:9100"
                - "100.125.141.53:9100"
                - "100.74.92.34:9100"
                - "100.105.161.10:9100"
    alertmanager:
      alertmanagerSpec:
        useExistingSecret: true
        configSecret: "alertmanager-telegram-config"

    nodeExporter:
      enabled: true
    kubeStateMetrics:
      enabled: true
